@font-face {
    font-family: 'Metropolis-ExtraBold';
    src: url('assets/fonts/metropolis-extrabold.otf');
 }

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100% !important;
    background-color: #FFFFFF;
    display: flex;
    flex-flow: column;
}

.navbar {
    background-color: #6A7B8B;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-flow: row;
    padding: 10px 50px 5px 50px;
    height: 150px;
}

img.white-logo {                        /* every "img" with class "white-logo" will have 75px of height */
    height: 100px;
}

.nav-informations a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Metropolis-ExtraBold';
    font-size: 27px;
}

.nav-informations a:nth-child(n + 2) {
    margin-left: 50px;
}

.main {
    display: flex;
    flex-flow: column;
    align-items: center;
    flex-grow: 1;
    padding: 10px 200px 100px 200px;
}

img.grey-logo {
    height: 400px;
}

.image-center-page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.image-center-page img {
    width: 100%;
}

.image-center-page p {
    position: absolute;
    padding-top: 100px;
}

div.image-center-page > p {
    color: #FFFFFF;
    font-family: 'Metropolis-ExtraBold';
    text-shadow: #6B6B6B 0em 0.1em 0.2em;
    font-size: 80px;
}

div.title-content {
    margin: 50px 0px;
}

div.title-content > p {
    color: #5C5B5B;
    font-family: 'Metropolis-ExtraBold';
    text-align: center;
    font-size: 80px;
    line-height: 1.3;
}

.cards {
    justify-content: space-evenly;
    display: flex;
    flex-flow: row;
    margin-bottom: 160px;
}

.cards .cartoon:nth-child(n + 2) {
    margin-left: 90px;
}

.cartoon {
    justify-content: flex-start;
    background-color: #BAC1C8;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 40px;
    width: 33%;
    cursor: pointer;
    box-shadow: 0 4px 15px 0 #6B6B6B;
}

div.cartoon > img {
    height: 150px;
}

.cartoon p {
    font-family: 'Metropolis-ExtraBold';
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    line-height: 1.5;
}

p.cartoon-title {
    font-family: 'Metropolis-ExtraBold';
    color: #FFFFFF;
    text-align: center;
    text-shadow: #6B6B6B 0em 0em 0.2em;
    font-size: 45px;
}

button {
    background-color: #6A7B8B;
    font-family: 'Metropolis-ExtraBold';
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    padding: 50px 160px;
    border-radius: 15px;
    box-shadow: 0 4px 15px 0 #6B6B6B;
    border: none;
    outline: none;
}

button:hover {
    background-color: #FFFFFF;
    color: #6A7B8B;
    cursor: pointer;
}

.content-open {
    align-items: stretch;
    display: flex;
    flex-flow: column;
    font-family: 'Metropolis-Light';
    font-size: 45px;
    line-height: 1.1;
    color: #5C5B5B;
    text-align: center;
}

.content-open-header {
    margin-left: 100px;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
}

.content-open-header > strong {
    margin-left: 70px;
    margin-bottom: 25px;
    font-size: 55px;
}

.content-open-grid {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 150px 0px;
    width: 90%;
    font-size: 45px;
    align-self: center;
    line-height: 1.5;
}

.content-open-grid div {
    width: 40%;
    text-align: center;
}

.content-open-grid div:nth-child(n + 3) {
    margin-top: 150px;
}

.content-open-second-last {
    margin-top: 150px;
}

.content-open-last-child {
    font-size: 50px;
    font-weight: 500;
    margin: 150px 550px 100px 550px;
}

img.icon-home {
    height: 200px;
}

.about-content {
    align-items: center;
    display: flex;
    flex-flow: row;
    font-family: 'Metropolis-Light';
    font-size: 45px;
    line-height: 1.5;
    color: #5C5B5B;
    justify-content: space-between;
    padding: 0px 0px 200px 0px;
}

.first-content {
    width: 50%;
}

.first-content p:first-child {
    font-size: 80px;
    font-weight: 500;
}

.first-content p {
    text-align: left;
}

img.three-coffee {
    width: 38%;
}

.second-content {
    width: 50%;
}

.second-content p:first-child {
    font-size: 80px;
    font-weight: 500;
}

.second-content p {
    text-align: left;
}

img.second-room {
    width: 40%;
}

.contact-general {
    font-family: 'Metropolis-Medium';
    color: #5C5B5B;
    margin: 100px 0px 100px;
    width: 70%;
}

.contact-general > p {
    text-align: center;
    font-size: 80px;
}

.contacts {
    font-size: 45px;
    line-height: 0.5;
    padding: 100px;
}

.address {
    margin: 0px 0px 100px 0px;
}

.footer {
    position: relative;
    background-color: #6A7B8B;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column;
    padding: 60px 50px 50px 50px;
    height: 179px;
}

.footer p {
    color: white;
    font-family: 'Metropolis-Light';
    font-weight: bold;
    font-size: 30px;
}

.footer div:last-child {
    position: absolute;
    left: 70px;
    top: 80px;
}

.footer-informations {
    display: flex;
}

.footer-informations img {
    width: 60px;
}

.footer-informations a:nth-child(n + 2) {
    margin-left: 50px;
}

img.white-logo-footer {
    width: 100px;
}

