/* your styles go in this file */
@font-face {
    font-family: 'Metropolis-ExtraBold';
    src: url('assets/fonts/metropolis-extrabold.otf');        /* Refer to font */
 }

 @font-face {
    font-family: Metropolis-Light';
    src: url('assets/fonts/metropolis-light.otf');
 }

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100% !important;
    background-color: #FFFFFF;
    display: flex;
    flex-flow: column;
}

.navbar {
    background-color: #6A7B8B;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-flow: row;
    padding: 10px 50px 5px 50px;
    height: 89px;
}

img.white-logo {                        /* every "img" with class "white-logo" will have 75px of height */
    height: 75px;
}

.nav-informations a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Metropolis-ExtraBold';
    font-weight: bold;
    font-size: 18px;
}

.nav-informations a:nth-child(n + 2) {
    margin-left: 50px;
}

.main {
    display: flex;
    flex-flow: column;
    align-items: center;
    flex-grow: 1;
    padding: 10px 100px 100px 100px;
}

img.grey-logo {
    height: 280px;
}

.image-center-page {
    position: relative;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.image-center-page img {
    width: 100%;
}

.image-center-page p {
    position: absolute;
    width: 100%;
}

img.coffee-room {
    height: 1060px;
    background: url('assets/mr_coffee_room.jpg');
}

div.image-center-page > p {
    color: #FFFFFF;
    font-family: 'Metropolis-ExtraBold';
    text-align: center;
    text-shadow: #6B6B6B 0em 0em 0.2em;
    font-size: 50px;
}

div.title-content > p {
    color: #5C5B5B;
    font-family: 'Metropolis-ExtraBold';
    text-align: center;
    font-size: 50px;
    line-height: 20px;
}

.cards {
    justify-content: space-evenly;
    display: flex;
    flex-flow: row;
}

.cards .cartoon:nth-child(n + 2) {
    margin-left: 50px;
}

.cartoon {
    justify-content: flex-start;
    background-color: #BAC1C8;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 40px;
    width: 33%;
}

div.cartoon > img {
    height: 150px;
}

p.cartoon-title {
    font-family: 'Metropolis-ExtraBold';
    color: #FFFFFF;
    text-align: center;
    text-shadow: #6B6B6B 0em 0em 0.2em;
    font-size: 30px;
}

.cartoon p {
    font-family: 'Metropolis-ExtraBold';
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
}

button {
    background-color: #6A7B8B;
    font-family: 'Metropolis-ExtraBold';
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    margin: 120px 0px 100px 0px;
    padding: 32px 100px;
    border-radius: 15px;
    box-shadow: 0 4px 15px 0 #6B6B6B;
    border: none;
    outline: none;
}

button:hover {
    background-color: #FFFFFF;
    color: #6A7B8B;
    cursor: pointer;
}

.content-open {
    align-items: center;
    display: flex;
    flex-flow: column;
    padding: 100px 0px 300px 0px;
}

img.icon-home {
    height: 140px;
}

.content-open p {
    color: #5C5B5B;
    font-family: 'Metropolis-Light';
    text-align: center;
    font-size: 35px;
    line-height: 20px;
}

.footer {
    background-color: #6A7B8B;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-flow: row;
    padding: 10px 50px 5px 50px;
    height: 89px;
}